.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left mid right";
    
}

.nav .nav-logo-left{
    grid-area: left;
    justify-self:center;
    
    
}

.nav .nav-logo-left .nav-logo-left-image{
    display:block;
    margin: 0 auto;
}

.nav .nav-mid{
    grid-area: mid;
    margin-top:2em;
    justify-self: center;
    color: rgb(221, 161, 223);
    
}


.nav .nav-right{
    grid-area:right;
    
}

.nav .nav-right .nav-right-list-container{
    padding: 0;
    margin:0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.nav .nav-right .nav-right-list-container li {
    list-style: none;
    padding:1.5em;
    margin: 1.2em 1.2em;
    background-color: rgb(221, 161, 223);
    border-radius: 30%;
    
    

}

.nav .nav-right .nav-right-list-container li:hover{
cursor: pointer;
}