.nav-searchnav-container{
    margin : 0 auto;
}

.nav-searchnav-icon{
    padding-left:0.3em; 
    padding-top: 0.2em;
}

.nav-searchnav-icon:hover {
    cursor:pointer;
    background-color:rgb(241, 241, 241);
    transition:background-color 1s;

}

.nav-searchnav-input{
    border-radius: 25px;
    padding: 1.1em;
}